* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.map-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Adjust to make the image fit the entire width of the viewport */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure the entire image is visible without distortion */
}

#draggable-sphere {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 10px;
    height: 10px;
    background-color: #020202;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
}

.information-container {
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.distance-select-container {
    position: absolute;
    top: 0; /* Position at the top of the information box */
    left: 0;
    margin-bottom: 10px; /* Adjust spacing between distance select and coordinate display */
}

.distance-select-container label {
    display: block;
    margin-bottom: 5px;
}

.distance-select-container select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}

.distance-range label {
    font-weight: bold;
}

.distance-range select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.distance-range {
    margin-bottom: 2px;
}

.coordinates {
    margin-bottom: 2px;
}

.market-heading {
    font-size: 14px; /* Adjust the font size as needed */
}
